@import "tailwindcss";

@font-face {
  font-family: 'SVN-Avo';
  src: url('/fonts/SVN-Avo.woff2') format('woff2'),
       url('/fonts/SVN-Avo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Avo';
  src: url('/fonts/SVN-Avo-Bold.woff2') format('woff2'),
       url('/fonts/SVN-Avo-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FzHBRGame';
  src: url('/fonts/FzHBRGame.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.btn-image:hover {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  transform: scale(1.05);
  filter: brightness(1.1);
}

.special-features-swiper .swiper-slide-next,
.special-features-swiper .swiper-slide-prev {
  z-index: 5;
  filter: grayscale(1) brightness(0.7);
  transform: scale(0.95);
}

.hide-scroll {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.hide-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.swiper-wrapper .swiper-slide-prev {
  transform: translate3d(61%, 0px, -500px) rotateX(0deg) rotateY(0deg) scale(1) !important;
}

.swiper-wrapper .swiper-slide-next {
  transform: translate3d(-61%, 0px, -500px) rotateX(0deg) rotateY(0deg) scale(1) !important;
}

.swiper-pagination-custom {
  bottom: -8% !important;

  @media screen and (max-width: 768px) {
    bottom: -15% !important;
  }
}

.swiper-pagination-custom .swiper-pagination-bullet {
  background-color: transparent !important;
  background-image: url('/images/dot.png') !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  width: 1.5vw !important;
  height: 1.5vw !important;
  opacity: 1 !important;

  @media screen and (max-width: 768px) {
    width: 4vw !important;
    height: 4vw !important;
  }
}

.swiper-pagination-custom .swiper-pagination-bullet:hover {
  background-image: url('/images/dot-active.png') !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  cursor: pointer !important;
  transition: all 0.3s ease-in-out !important;
}

.swiper-pagination-custom .swiper-pagination-bullet-active {
  background-image: url('/images/dot-active.png') !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  scale: 1 !important;
  width: 1.5vw !important;
  height: 1.5vw !important;
  opacity: 1;

  @media screen and (max-width: 768px) {
    width: 4vw !important;
    height: 4vw !important;
  }
}